{% extends 'base.html' %}

{% block content %}

    {% if request.user.profile.role == 'student' %}
    <nav class="student-nav mb-4">
        <a href="{% url 'profile' %}" class="nav-link">
            <span class="nav-icon">←</span>
            Личный кабинет
        </a>
        <a href="{% url 'student_labs' %}" class="nav-link">
            <span class="nav-icon">🧪</span>
            Лабораторные
        </a>
        <a href="{% url 'test_view' 'start' %}" class="nav-link">
            <span class="nav-icon">📥</span>
            Входной тест
        </a>
         <a href="{% url 'student_teacher_tests' %}" class="nav-link">
            <span class="nav-icon">👩‍🏫</span>
            Тесты от учителя
        </a>
        <!-- Измененная ссылка для итогового теста -->
        {% with final_result=request.user.testresult_set.filter|dictsortreversed:"date_completed"|first %}
        {% if final_result and final_result.test_type == 'final' %}
            <a href="{% url 'result_detail' final_result.id %}" class="nav-link">
                <span class="nav-icon">📤</span>
                Результат итогового теста
            </a>
        {% else %}
            <a href="{% url 'test_view' 'final' %}" class="nav-link">
                <span class="nav-icon">📤</span>
                Итоговый тест
            </a>
        {% endif %}
        {% endwith %}


    </nav>
    {% endif %}


    {% block student_content %}{% endblock %}
{% endblock %}