{% extends 'base.html' %}

{% block title %}Итоговое тестирование{% endblock %}

{% block content %}
<h1>Итоговое тестирование</h1>
<form method="post">
    {% csrf_token %}
    {% for q in questions %}
        <div class="question-block">
            <h3>
                <span class="question-number">№{{ forloop.counter }}</span>
                {{ q.question }}
            </h3>

            <input type="hidden" name="ids_final" value="{{ q.id }}">

            <div class="options">
                <label>
                    <input type="radio" name="q_final_{{ q.id }}" value="a" required>
                    {{ q.answer1 }}
                </label>
                <label>
                    <input type="radio" name="q_final_{{ q.id }}" value="b">
                    {{ q.answer2 }}
                </label>
                <label>
                    <input type="radio" name="q_final_{{ q.id }}" value="c">
                    {{ q.answer3 }}
                </label>
                <label>
                    <input type="radio" name="q_final_{{ q.id }}" value="d">
                    {{ q.answer4 }}
                </label>
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success btn-lg" style="width: 100%; margin-top: 20px;">
        Завершить тест
    </button>
</form>
{% endblock %}