{% extends 'base.html' %}

{% block title %}Изменение профиля{% endblock %}

{% block content %}
<div class="card">
    <h1>Редактирование профиля</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div style="margin-top: 24px; display: flex; gap: 10px;">
    <button type="submit" class="btn btn-primary" style="flex: 1;">Сохранить</button>
    <a href="{% url 'profile' %}" class="btn-cancel" style="flex: 1;">Отмена</a>
</div>
    </form>
</div>
{% endblock %}