{% extends 'student/base_student.html' %}
{% block title %}Входное тестирование{% endblock %}
{% block student_content %}
<!--<nav class="mb-4">-->
<!--        <a href="{% url 'profile' %}" class="btn btn-outline-secondary btn-sm">← Личный кабинет</a>-->
<!--        <a href="{% url 'student_labs' %}" class="btn btn-outline-secondary btn-sm">🧪 Лабораторные</a>-->
<!--        <a href="{% url 'test_view' 'final' %}" class="btn btn-outline-secondary btn-sm">📤 Итоговый тест</a>-->
<!--    </nav>-->
    <h1>Входное тестирование (15 вопросов)</h1>
    <form method="post">
        {% csrf_token %}

        {% for q in questions %}
            <div class="question-block">
                <h3>
                    <span class="question-number">{{ forloop.counter }}</span>
                    {{ q.question }}

                </h3>

                <!-- Скрытое поле ID (без дубликатов в начале формы) -->
                <input type="hidden" name="ids_{{ q.category }}" value="{{ q.id_val }}">

                <div class="options">
                    <label>
                        <input type="radio" name="q_{{ q.category }}_{{ q.id_val }}" value="a" required>
                        {{ q.answer1 }}
                    </label>
                    <label>
                        <input type="radio" name="q_{{ q.category }}_{{ q.id_val }}" value="b">
                        {{ q.answer2 }}
                    </label>
                    <label>
                        <input type="radio" name="q_{{ q.category }}_{{ q.id_val }}" value="c">
                        {{ q.answer3 }}
                    </label>
                    <label>
                        <input type="radio" name="q_{{ q.category }}_{{ q.id_val }}" value="d">
                        {{ q.answer4 }}
                    </label>
                </div>
            </div>
        {% endfor %}

        <div style="margin-top: 30px;">
            <button type="submit" class="btn btn-primary btn-lg" style="padding: 12px 30px;">
                Отправить ответы
            </button>
        </div>
    </form>
{% endblock %}