{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h2>Вход в систему</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <p><strong>Войти как:</strong></p>
    <div class="role-wrap">
            <div class="role-selection">
                <label>
                    <input type="radio" name="role" value="student" checked>
                    <span>Ученик</span>
                </label>
                <label>
                    <input type="radio" name="role" value="teacher">
                    <span>Учитель</span>
                </label>
            </div>
        </div>

    <button type="submit" class="btn btn-primary">Войти</button>
  </form>

  <p style="margin-top: 20px;">
    Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
  </p>
{% endblock %}